#Dev{
    bottom: 0px;
    position: fixed;
    background-color: aqua;
    color: black;
    width: 100%;
    text-align: center;
    font-size: large;
    font-family: 'Rubik', sans-serif;;
    line-height: 3;
}
h1{
    width:100%;
    margin: 0px;
    font-size: large;
}
body{
    background-size: cover;
}
canvas{
    border: 5px red dashed;
    border-radius: 50px;
    margin-top: 95.9px;
    box-shadow: 5px 10px 10px 10px aqua;
}
